/* You can add global styles to this file, and also import other style files */
:root{
    --light-gray: #ECEEF2;
}
html,
body {
    margin:0px;
    padding:0.2em 1em;
    background-color: var(--light-gray);
}
